:root {
    --background-gray: rgb(48, 48, 48);
    --background-blue: rgb(98, 216, 242);
}

body {
    position: absolute;
    display: solid;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;  
    background-color: var(--background-gray);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* 
div {
    font-style: normal;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    font-style: normal;
} */

div.content_pane {
    position: absolute;
    display: solid;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;    
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: var(--background-blue);
    background-color:rgb(72, 72, 72);
    transition-duration: 0.5s;
}

div.content_pane:hover {
    opacity: 0.6;
}
